@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
}

p {
    font-size: 1.05em;
    color: var(--desaturated-dark-blue);
}

body {
    background-color: var(--light-grayish-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.container {
    border-radius: 10px;
    background-color: #ffffff;
    width: 330px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: top;
}

.content {
    padding: 40px 30px 15px;
    position: relative;
}

.content > h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.content > p {
    margin-bottom: 30px;
    font-size: 1.05em;
    line-height: 1.5;
}

.author {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.author-wrapper {
    max-width: 180px;
    height: 100%;
    display: flex;
}

.author-wrapper > img {
    border-radius: 50%;
    max-height: 100%;
    margin-right: 1.3em;
}

.author-info > p:first-child {
    margin-bottom: 0.15em;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
}

.share-btn {
    background-color: var(--light-grayish-blue);
    border: none;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.share-btn:hover {
    background-color: var(--desaturated-dark-blue);
}

.share-btn.show {
    background-color: var(--desaturated-dark-blue);
}

.share-btn path {
    fill: #6E8098;
    transition: fill 200ms ease-in-out;
}

.share-btn:hover path {
    fill: #ffffff;
}

.share-btn.show path {
    fill: #ffffff;
}

.social-links {
    background-color: var(--very-dark-grayish-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 70px;
    padding: 0px 33px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: 5;
    transition: all 250ms ease-in-out;
}

.social-links.show {
    bottom: 0;
}

.social-links > span {
    margin-right: 1.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--grayish-blue);
}

.social-links > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.social-links li {
    margin-right: 15px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    display: flex;
    align-items: center;
}

.pinterest {
    border-radius: 50%;
}

.social-links path {
    fill: #fff;
    transition: fill 200ms ease-in-out;
}

.facebook:hover {
    background-color: #ffffff;
}

.facebook:hover path {
    fill: #4267B2;
}

.twitter:hover path {
    fill: #1DA1F2;
}

.pinterest:hover {
    background-image: radial-gradient(circle at center, #ffffff 50%, var(--very-dark-grayish-blue));
}

.pinterest:hover path {
    fill: #c8232c;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 800px) {
    .container {
        width: 731px;
        height: 292px;
        flex-direction: row;
        overflow: visible;
    }

    .container > img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        height: 100%;
        width: 286px;
        object-position: left;
    }

    .content {
        max-width: 445px;
        padding: 35px 40px 30px;
    }

    .content > h1 {
        font-size: 1.6em;
        line-height: 1.4;
    }

    .content > p {
        margin-bottom: 20px;
        line-height: 1.6;
    }

    .social-links {
        border-radius: 10px;
        width: 19.23em;
        height: 4.3em;
        transform: scale(0.9);
        bottom: 80px;
        left: 270px;
        opacity: 0;
    }

    .social-links.show {
        transform: scale(1);
        bottom: 95px;
        opacity: 1;
    }
}